<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formulário de Contrato</h3>
  </div>

  <%= form_for(@contrato, html: { class: 'form-horizontal' }) do |f| %>
    <div class="panel-body">

      <div class="form-group">
        <label for="contrato_numero" class="col-sm-2 control-label">Número:</label>
        <div class="col-sm-2">
          <%= f.text_field :numero, class: "form-control", id: "contrato_numero" %>
        </div>
      </div>

      <div class="form-group">
        <label for="contrato_empresa" class="col-sm-2 control-label">Empresa:</label>
        <div class="col-sm-6">
          <%= collection_select(:empresa, :empresa_id, @empresas, :id, :nome, {}, { class: "form-control", id: "contrato_empresa" }) %>
        </div>
      </div>

      <div class="form-group">
        <label for="contrato_vigencia_inicial" class="col-sm-2 control-label">Vigência Inicial:</label>
        <div class="col-sm-2">
          <%= f.text_field :vigencia_inicial, class: "form-control date-br", id: "contrato_vigencia_inicial" %>
        </div>
      </div>

      <div class="form-group">
        <label for="contrato_vigencia_final" class="col-sm-2 control-label">Vigência Final:</label>
        <div class="col-sm-2">
          <%= f.text_field :vigencia_final, class: "form-control date-br", id: "contrato_vigencia_final" %>
        </div>
      </div>

      <div class="form-group">
        <label for="contrato_data_assinatura" class="col-sm-2 control-label">Data da Assinatura:</label>
        <div class="col-sm-2">
          <%= f.text_field :data_assinatura, class: "form-control date-br", id: "contrato_data_assinatura" %>
        </div>
      </div>

    </div>

     <div class="panel-footer">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
