<div class="page-header">

  <%= build_breadcrumb [
    { title: "Contratos", link: contrato_medicoes_path },
    { title: @contrato.numero, active: true }
  ] %>
</div>

<%= build_action_header(@contrato.numero, [@contrato]) %>

<div class="actions pull-right">
  <%= link_to contrato_medicao_abrangencias_path(@contrato.id), class: "btn btn-info" do %>
    Abrangência
  <% end -%>
</div>

<div class="panel panel-show">
  <table class="table">
    <tbody>
      <tr>
        <%= table_label "Registro" %>
        <td><%= @contrato.id %></td>
      </tr>
      <tr>
        <%= table_label "Número do contrato" %>
        <td><%= @contrato.numero %></td>
      </tr>
      <tr>
        <%= table_label "Vigência incial" %>
        <td><%= @contrato.vigencia_inicial %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="actions pull-right">
  <%= build_header_button('novo', :coeficiente, new_contrato_medicao_coeficiente_path(@contrato.id)) %>
</div>
<div class="page-header">
  <h1>Coeficientes</h1>
  <div class="panel panel-show">
    <%= smart_listing_render :coeficientes %>
  </div>
</div>