<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Imóvel</th>
      <th>Localidade</th>
      <th>Setor Comercial</th>
      <th>Número do Lote</th>
      <th>Situação da Ligação de Água</th>
      <th>Percentual Esgoto</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @abrangencias.each do |abrangencia| %>
      <tr>
        <td><%= abrangencia.imovel.id %></td>
        <td><%= abrangencia.imovel.localidade.nome %></td>
        <td><%= abrangencia.imovel.setor_comercial.nome %></td>
        <td><%= abrangencia.imovel.numero_lote %></td>
        <td><%= abrangencia.ligacao_agua_situacao.descricao %></td>
        <td><%= abrangencia.percentual_esgoto %></td>
        <td>
          <%= link_to contrato_medicao_imovel_abrangencia_path(@contrato_medicao.id, abrangencia.imovel.id), method: :delete, data: {confirm: "Você deseja remover esse imóvel da abrangência?"} do %>
            <i class="fa fa-remove"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @abrangencias.empty? %>
      <tr><th><center>Nenhum registro encontrado</center></th></tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @abrangencias %>
</div>