<table class="table table-hover table-striped" style="table-layout: fixed; width: 100%">
  <thead>
    <tr>
      <th>Tabela</th>
      <th>Campo</th>
      <th>Anterior</th>
      <th>Transmitido</th>
      <th>Revisado</th>
      <th>Resultado</th>
      <th>
        <% if @imovel_controle_atualizacao_cadastral.is_em_revisao? and @teve_revisao %>
          <label>
            <input type="checkbox" id="selecionar-todos-checkbox">
            &nbsp;Todos da Revisão
          </label>
        <% else %>
          Campos da revisão
        <% end %>
      </th>

    </tr>
  </thead>
  <tbody>
    <% unless @subcategorias.nil? or @subcategorias.empty? %>
      <% @subcategorias.each do |subcategoria| %>
      <tr style="background: #E9E0E2">
        <td><%= subcategoria.descricao_completa %></td>
        <td><%= "Quantidade de Economias" %></td>
        <td><%= subcategoria.quantidade %></td>
        <% 4.times do %>
          <td></td>
        <% end %> 
      </tr>
      <% end %>
    <% end %>
    
    <% smart_listing.collection.each do |coluna| %>
      <tr>
        <td><%= coluna.tabela %></td>
        <td><%= coluna.campo %></td>
        <td><%= coluna.valor_anterior %></td>
        <td><%= coluna.valor_atual %></td>
        <input type="hidden" id="hidden_<%= coluna.id %>" value="<%= coluna.try(:valor_atual) %>">
        <td class="td_<%= coluna.id %>" id="td_revisado_<%= coluna.id %>" >
          <%= coluna.try(:valor_revisado) %>
        </td>
        <% if @imovel_controle_atualizacao_cadastral.is_pre_aprovado? or @imovel_controle_atualizacao_cadastral.is_revisado? %>
          <td class="td_<%= coluna.id %>" id="td_<%= coluna.id %>"><%= coluna.try(:valor_pre_aprovado) %></td>
        <% else %>
          <td class="td_<%= coluna.id %>" id="td_<%= coluna.id %>"><%= coluna.try(:valor_pre_aprovado) || coluna.try(:valor_atual) %></td>
        <% end %>
        <td>
          <% if @imovel_controle_atualizacao_cadastral.pode_ser_revisado? and @teve_revisao %>
            <label>
              <input type="checkbox" id="<%= coluna.id %>" name="colunas_checkbox">
            </label>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if smart_listing.empty? %>
      <tr><th colspan="<%= qnt_colspan @imovel_controle_atualizacao_cadastral.pode_ser_revisado? %>"><center>Nenhum registro encontrado</center></th></tr>
    <% end %>
  </tbody>
</table>
<input type="hidden" id="colunas_revisao" value="">
<%= smart_listing.paginate %>
