<table class="table table-hover table-striped" style="table-layout: fixed; width: 100%">
  <thead>
    <tr>
      <th>Tabela</th>
      <th>Campo</th>
      <th>Anterior</th>
      <th>Transmitido</th>
      <% if @imovel_controle_atualizacao_cadastral.pode_ser_revisado? %>
        <th>Revisado</th>
        <th>Resultado</th>
        <th>Campos da revisão</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |coluna| %>
      <tr>
        <td><%= coluna.tabela %></td>
        <td><%= coluna.campo %></td>
        <td><%= coluna.valor_anterior %></td>
        <td><%= coluna.valor_atual %></td>
        <% if @imovel_controle_atualizacao_cadastral.pode_ser_revisado? %>
          <td class="td_<%= coluna.id %>" id="td_revisado_<%= coluna.id %>" style="word-wrap: break-word" >
            <%= coluna.try(:valor_revisado) %>
          </td>
          <input type="hidden" id="hidden_<%= coluna.id %>" value="<%= coluna.try(:valor_atual) %>">
          <td class="td_<%= coluna.id %>" style="word-wrap: break-word" id="td_<%= coluna.id %>"><%= coluna.try(:valor_atual) %></td>
          <td>
            <label>
              <input type="checkbox" id="<%= coluna.id %>" name="colunas_checkbox">
            </label>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% if smart_listing.empty? %>
      <tr><th colspan="<%= qnt_colspan @imovel_controle_atualizacao_cadastral.pode_ser_revisado? %>"><center>Nenhum registro encontrado</center></th></tr>
    <% end %>
  </tbody>
</table>
<input type="hidden" id="colunas_revisao" value="">
<%= smart_listing.paginate %>
