<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Tabela</th>
      <th>Campo</th>
      <th>Anterior</th>
      <th>Atual</th>
      <th>Usuario</th>
    </tr>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |coluna| %>
      <tr>
        <td><%= coluna.tabela %></td>
        <td><%= coluna.campo %></td>
        <td><%= coluna.valor_anterior %></td>
        <td><%= coluna.valor_atual %></td>
        <td><%= coluna.nome_usuario %></td>
      </tr>
    <% end %>
    <% if smart_listing.empty? %>
      <tr><th colspan="4"><center>Nenhum registro encontrado</center></th></tr>
    <% end %>
  </tbody>
</table>
<%= smart_listing.paginate %>
