<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Imovel</th>
      <th>Agente Cadastral</th>
      <th>Situação</th>
    </tr>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |atualizacao_cadastral| %>
      <tr>
        <td>
          <%= link_to atualizacao_cadastral.try(:descricao_imovel),
                      recadastramento_path(id: atualizacao_cadastral.codigo_imovel),
                      target: '_blank' %>
        </td>
        <td><%= atualizacao_cadastral.try(:agente_cadastral) %></td>
        <td><%= atualizacao_cadastral.try(:situacao) %></td>
      </tr>
    <% end %>
    <% if smart_listing.empty? %>
      <tr><th colspan="3"><center>Nenhum registro encontrado</center></th></tr>
    <% end %>
  </tbody>
</table>
<%= smart_listing.paginate %>
<%= smart_listing.pagination_per_page_links %>
