<label class="radio-inline">
  <input type="radio" name="<%= input_name %>" id="<%= input_name %>_yes" value="1"> Sim
</label>
<label class="radio-inline">
  <input type="radio" name="<%= input_name %>" id="<%= input_name %>_no" value="0"> Não
</label>
<label class="radio-inline">
  <input type="radio" name="<%= input_name %>" id="<%= input_name %>_all" value="2"> Todos
</label>
