<div class="page-header">
  <h1>Recadastramento</h1>
</div>

<% if params[:query].present? %>
  <a class="btn btn-primary" role="button" data-toggle="collapse" href="#panel-pesquisa" aria-expanded="false" aria-controls="panel-pesquisa">
    Mostrar/Ocultar Formulario de Pesquisa
  </a>
  <% unless @atualizacao_cadastrais.try(:empty?) %>
    <div class="pull-right">
      <%= link_to "Pre-aprovar Em Lote", pre_aprovar_em_lote_path(query: params[:query]), class: "btn btn-warning",
          data: { confirm: "Tem certeza que deseja pre-aprovar todos esses registros?" },
          method: :put, role: 'button' %>
      <%= link_to "Revisar Em Lote", enviar_para_revisao_em_lote_path(query: params[:query]), class: "btn btn-danger",
          data: { confirm: "Tem certeza que deseja enviar para revisão todos esses registros?" },
          method: :put, role: 'button' %>
    </div>
  <% end %>
<% end %>

<div class="panel panel-default collapse <%= params[:query].present? ? '' : 'in' %>" id="panel-pesquisa">
  <div class="panel-heading">Buscar Imóveis Em Processo de Recadastramento</div>
  <%= form_tag(recadastramentos_path, method: :get, class: 'form-horizontal') do |f| %>
    <div class="panel-body">

      <div class="form-group">
        <label for="empresa_id" class="col-sm-3 control-label">Empresa: *</label>
        <div class="col-sm-6">
          <%= select_tag "query[empresa_id]", options_from_collection_for_select(@empresas, "id", "nome", @filtro.empresa_id),
                class: "form-control", required: true, prompt: 'Escolha' %>
        </div>
      </div>
      <div class="form-group">
        <label for="leiturista_id" class="col-sm-3 control-label">Agente Cadastral: </label>
        <div class="col-sm-6">
          <%= select_tag "query[leiturista_id]", options_from_collection_for_select(@leituristas, "id", "nome", @filtro.leiturista_id),
                class: "form-control",  prompt: 'Escolha' %>

        </div>
      </div>
      <div class="form-group">
        <label for="matricula" class="col-sm-3 control-label">Matrícula Imóvel: </label>
        <div class="col-sm-6">
          <%= text_field_tag 'query[matricula]', @filtro.matricula, class: "form-control", required: false %>
        </div>
      </div>
      <div class="form-group">
        <label for="periodo_inicial" class="col-sm-3 control-label">Período: </label>
        <div class="col-sm-3">
          <%= text_field_tag 'query[periodo_inicial]', @filtro.periodo_inicial, class: "form-control datepicker", required: false %>
        </div>
        <div class="col-sm-3">
          <%= text_field_tag 'query[periodo_final]', @filtro.periodo_final, class: "form-control datepicker", required: false %>
        </div>
      </div>
      <hr>

      <p class="text-muted">Informe os dados da inscrição inicial</p>
      <div class="form-group">
        <label for="localidade_inicial" class="col-sm-3 control-label">Localidade</label>
        <div class="col-sm-6">
          <input type="text" name="query[localidade_inicial]" id="localidade_inicial" placeholder="Localidade" class="form-control" value="<%= @filtro.localidade_inicial %>" />
          <input type="hidden" name="query[localidade_id_inicial]" id="localidade_id_inicial" value="<%= @filtro.localidade_id_inicial %>" />
        </div>
      </div>

      <div class="form-group">
        <label for="setor_comercial_inicial" class="col-sm-3 control-label">Setor Comercial</label>
        <div class="col-sm-6">
          <input type="text" name="query[setor_comercial_inicial]" id="setor_comercial_inicial" placeholder="Setor Comercial" class="form-control" value="<%= @filtro.setor_comercial_inicial %>" disabled="true" />
          <input type="hidden" name="query[setor_comercial_id_inicial]" id="setor_comercial_id_inicial" value="<%= @filtro.setor_comercial_id_inicial %>" />
        </div>
      </div>

      <div class="form-group">
        <label for="rota" class="col-sm-3 control-label">Rota</label>
        <div class="col-sm-1">
          <div class="ui-widget">
            <select id="rota_id_inicial" name="query[rota_id_inicial]" class="form-control" data-rota-selecionada="<%= @filtro.rota_id_inicial %>" disabled=true>
              <option></option>
            </select>
          </div>
        </div>
      </div>
      <hr>

      <p class="text-muted">Informe os dados da inscrição final</p>
      <div class="form-group">
        <label for="localidade" class="col-sm-3 control-label">Localidade</label>
        <div class="col-sm-6">
          <input type="text" name="query[localidade_final]" id="localidade_final" placeholder="Localidade" class="form-control" value="<%= @filtro.localidade_final %>" />
          <input type="hidden" name="query[localidade_id_final]" id="localidade_id_final" value="<%= @filtro.localidade_id_final %>" />
        </div>
      </div>

      <div class="form-group">
        <label for="setor_comercial" class="col-sm-3 control-label">Setor Comercial</label>
        <div class="col-sm-6">
          <input type="text" name="query[setor_comercial_final]" id="setor_comercial_final" placeholder="Setor Comercial" class="form-control" value="<%= @filtro.setor_comercial_final %>" disabled="true" />
          <input type="hidden" name="query[setor_comercial_id_final]" id="setor_comercial_id_final" value="<%= @filtro.setor_comercial_id_final %>" />
        </div>
      </div>

      <div class="form-group">
        <label for="rota" class="col-sm-3 control-label">Rota</label>
        <div class="col-sm-1">
          <div class="ui-widget">
            <select id="rota_id_final" name="query[rota_id_final]" class="form-control" data-rota-selecionada="<%= @filtro.rota_id_final %>" disabled=true>
              <option></option>
            </select>
          </div>
        </div>
      </div>
      <hr>

      <div class="form-group">
        <label for="exibir_imoveis" class="col-sm-3 control-label">Exibir Imóveis:</label>
        <div class="col-sm-6">
          <%= select_tag "query[exibir_imoveis]",
                options_for_select(exibir_imoveis_options, @filtro.exibir_imoveis),
                class: "form-control",  prompt: 'Escolha' %>
        </div>
      </div>
      <hr>

      <div class="form-group">
        <label for="quantidade_visitas" class="col-sm-3 control-label">Quantidade de visitas:</label>
        <div class="col-sm-6">
          <label class="radio-inline">
            <input type="radio" name="query[quantidade_visitas]" id="query_quantidade_visitas_>yes" value="0" <%= @filtro.quantidade_visitas == "0" ? 'checked' : '' %>> 0
          </label>
          <label class="radio-inline">
            <input type="radio" name="query[quantidade_visitas]" id="query_quantidade_visitas_>no" value="1" <%= @filtro.quantidade_visitas == "1" ? 'checked' : '' %>> 1
          </label>
          <label class="radio-inline">
            <input type="radio" name="query[quantidade_visitas]" id="query_quantidade_visitas_>all" value="2" <%= @filtro.quantidade_visitas == "2" ? 'checked' : '' %>> 2
          </label>
          <label class="radio-inline">
            <input type="radio" name="query[quantidade_visitas]" id="query_quantidade_visitas_>all" value="3" <%= @filtro.quantidade_visitas == "3" ? 'checked' : '' %>> 3
          </label>
        </div>
      </div>
      <hr>

      <div class="form-group">
        <label for="cpf_ja_cadastrado" class="col-sm-3 control-label">Com CPF cadastrado:</label>
        <div class="col-sm-6">
          <%= render partial: 'radio', locals: { input_name: 'query[cpf_ja_cadastrado]', selected: @filtro.cpf_ja_cadastrado } %>
        </div>
      </div>
      <div class="form-group">
        <label for="alteracao_cpf" class="col-sm-3 control-label">Com CPF transmitido:</label>
        <div class="col-sm-6">
          <%= render partial: 'radio', locals: { input_name: 'query[alteracao_cpf]', selected: @filtro.alteracao_cpf } %>
        </div>
      </div>
      <hr>

      <div class="form-group">
        <label for="ocorrencias_cadastro" class="col-sm-3 control-label">Sem Ocorrência de Cadastro:</label>
        <div class="col-sm-6">
          <%= render partial: 'radio', locals: { input_name: 'query[ocorrencias_cadastro]', selected: @filtro.ocorrencias_cadastro } %>
        </div>
      </div>
      <div class="form-group">
        <label for="cadastro_ocorrencia_id" class="col-sm-3 control-label">Ocorrência:</label>
        <div class="col-sm-6">
          <%= select_tag "query[cadastro_ocorrencia_id]",
                options_from_collection_for_select(@ocorrencias_com_validacao, "id", "descricao", @filtro.cadastro_ocorrencia_id),
                class: "form-control",  prompt: 'Escolha', disabled: @filtro.cadastro_ocorrencia_id.nil?,
                id: "cadastro_ocorrencia_com_validacao_id" %>
          <%= select_tag "query[cadastro_ocorrencia_id]",
                options_from_collection_for_select(@ocorrencias_sem_validacao, "id", "descricao", @filtro.cadastro_ocorrencia_id),
                class: "form-control",  prompt: 'Escolha', disabled: @filtro.cadastro_ocorrencia_id.nil?,
                id: "cadastro_ocorrencia_sem_validacao_id" %>
        </div>
      </div>
      <hr>

      <!-- -->
      <div class="form-group">
        <label for="alteracao_hidrometro" class="col-sm-3 control-label">Alteração de Hidrômetro:</label>
        <div class="col-sm-6">
          <%= render partial: 'radio', locals: { input_name: 'query[alteracao_hidrometro]', selected: @filtro.alteracao_hidrometro } %>
        </div>
      </div>
      <div class="form-group">
        <label for="alteracao_agua" class="col-sm-3 control-label">Alteração de Situação de Água:</label>
        <div class="col-sm-6">
          <%= render partial: 'radio', locals: { input_name: 'query[alteracao_agua]', selected: @filtro.alteracao_agua } %>
        </div>
      </div>
      <div class="form-group">
        <label for="alteracao_esgoto" class="col-sm-3 control-label">Alteração de Situação de Esgoto:</label>
        <div class="col-sm-6">
          <%= render partial: 'radio', locals: { input_name: 'query[alteracao_esgoto]', selected: @filtro.alteracao_esgoto } %>
        </div>
      </div>
      <div class="form-group">
        <label for="alteracao_categoria_subcategoria" class="col-sm-3 control-label">Alteração de Categoria, Subcategoria e Qnt. de Economias:</label>
        <div class="col-sm-6">
          <%= render partial: 'radio', locals: { input_name: 'query[alteracao_categoria_subcategoria]', selected: @filtro.alteracao_categoria_subcategoria } %>
        </div>
      </div>
    </div> <!-- panel-body -->

    <div class="panel-footer">
      <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
      <%= link_to "Limpar", recadastramentos_path %>
    </div>
  <% end %>
</div>

<div class="panel panel-show">
  <%= smart_listing_render :atualizacao_cadastrais %>
</div>
