<div class="page-header">

  <%= build_breadcrumb [
    { title: "Recadastramentos", link: recadastramentos_path },
    { title: "#{@imovel.try(:id)}", active: true }
  ] %>

</div>

<div class="panel panel-show">
  <div class="panel-heading">Dados do Imóvel</div>

  <form class="form-inline">
    <div class="form-group">
      <%= label_tag "Matrícula:" %>
      <%= @imovel.try(:id) %>
    </div>
    <div class="form-group">
      <%= label_tag "Localidade:" %>
      <%= @imovel.try(:localidade).try(:nome) %>
    </div>
    <div class="form-group">
      <%= label_tag "Setor Comercial:" %>
      <%= @imovel.try(:setor_comercial).try(:nome) %>
    </div>
    <div class="form-group">
      <%= label_tag "Quadra:" %>
      <%= @imovel.try(:quadra).try(:numero_quadra) %>
    </div>
  </form>

  <form class="form-inline">
    <div class="form-group">
      <%= label_tag "Situação Ligação da Água:" %>
      <%= @imovel.try(:situacao_agua) %>
    </div>
    <div class="form-group">
      <%= label_tag "Situação Ligação do Esgoto:" %>
      <%= @imovel.try(:situacao_esgoto) %>
    </div>
    <div class="form-group">
      <%= label_tag "Quantidade de Economias:" %>
      <%= @imovel.try(:economias) %>
    </div>
  </form>

  <div class="pull-right">
    <% if @imovel_controle_atualizacao_cadastral.situacao_cadastral_id.to_i != 7 %>
      <%= link_to "Pré-Aprovar", recadastramento_path(id: @imovel_controle_atualizacao_cadastral.imovel_id, situacao: 7), method: :put, class: "btn btn-success", role: "button" %>
    <% end %>
    <% if @imovel_controle_atualizacao_cadastral.situacao_cadastral_id.to_i != 8 %>
      <%= link_to "Revisar", recadastramento_path(id: @imovel_controle_atualizacao_cadastral.imovel_id, situacao: 8), method: :put, class: "btn btn-primary", role: "button" %>
    <% end %>
  </div>

  <br>
  <br>
  <%= smart_listing_render :campos %>
</div>
