<div class="page-header">

  <%= build_breadcrumb [
    { title: "Recadastramentos", link: recadastramentos_path },
    { title: "#{@atualizacao_cadastral.imovel_novo? ? "Novo Imóvel" : @imovel.try(:id)}", active: true }
  ] %>

</div>

<div class="panel panel-show">
  <div class="panel-heading">Dados do Imóvel</div>

  <form class="form-inline">
    <div class="form-group">
      <%= label_tag "Matrícula:" %>
      <%= @atualizacao_cadastral.imovel_novo? ? "Novo Imóvel" : @imovel.try(:id) %>
    </div>
    <div class="form-group">
      <%= label_tag "Localidade:" %>
      <%= @atualizacao_cadastral.imovel_novo? ? '' : @imovel.try(:localidade).try(:nome) %>
    </div>
    <div class="form-group">
      <%= label_tag "Setor Comercial:" %>
      <%= @atualizacao_cadastral.imovel_novo? ? '' : @imovel.try(:setor_comercial).try(:nome) %>
    </div>
    <div class="form-group">
      <%= label_tag "Quadra:" %>
      <%= @atualizacao_cadastral.imovel_novo? ? '' : @imovel.try(:quadra).try(:numero_quadra) %>
    </div>
  </form>

  <form class="form-inline">
    <div class="form-group">
      <%= label_tag "Situação Ligação da Água:" %>
      <%= @atualizacao_cadastral.imovel_novo? ? '' : @imovel.try(:situacao_agua) %>
    </div>
    <div class="form-group">
      <%= label_tag "Situação Ligação do Esgoto:" %>
      <%= @atualizacao_cadastral.imovel_novo? ? '' : @imovel.try(:situacao_esgoto) %>
    </div>
    <div class="form-group">
      <%= label_tag "Quantidade de Economias:" %>
      <%= @atualizacao_cadastral.imovel_novo? ? '' : @imovel.try(:economias) %>
    </div>
  </form>

  <form class="form-inline">
    <div class="form-group">
      <%= label_tag "Situação" %>
      <%= @imovel_controle_atualizacao_cadastral.try(:situacao) %>
    </div>
  </form>
  <% if @imagens.any? %>
    <form class="form-inline">
      <div class="form-group">
        <label>Imagens:</label>
        <ul>
        <% @imagens.each do |imagem| %>
          <li><%= link_to imagem.nome_imagem, imagens_path(caminho: imagem.caminho_imagem), class: 'btn btn-link', target: '_blank' %></li>
        <% end %>
        </ul>
      </div>
    </form>
  <% end %>
  <% if @imovel_controle_atualizacao_cadastral.pode_ser_revisado? and not @teve_revisao %>
    <div class="text-center text-danger">Não houve nenhuma informação vinda da fase de revisão para esse cadastro!</div>
  <% end %>

  <div class="pull-right">
    <% if @imovel_controle_atualizacao_cadastral.pode_ser_pre_aprovado? %>
      <%= link_to "Pré-Aprovar", recadastramento_path(id: @imovel_controle_atualizacao_cadastral.imovel_id,
                                                      situacao: SituacaoAtualizacaoCadastral::SITUACOES[:"PRE APROVADO"]),
                                 method: :put, class: "btn btn-success", role: "button" %>
    <% end %>
    <% if @imovel_controle_atualizacao_cadastral.pode_ficar_em_revisao? %>
      <%= link_to "Em Revisão", recadastramento_path(id: @imovel_controle_atualizacao_cadastral.imovel_id,
                                                  situacao: SituacaoAtualizacaoCadastral::SITUACOES[:"EM REVISAO"]),
                             method: :put, class: "btn btn-primary", role: "button" %>
    <% end %>
    <% if @imovel_controle_atualizacao_cadastral.pode_ser_revisado? and @teve_revisao %>
      <%= link_to "Revisado", recadastramento_path(id: @imovel_controle_atualizacao_cadastral.imovel_id,
                                                          situacao: SituacaoAtualizacaoCadastral::SITUACOES[:"REVISADO"]),
                             method: :put, class: "btn btn-info", role: "button", id: "link-revisado" %>
    <% end %>
  </div>

  <br>
  <br>
  <%= smart_listing_render :campos %>
</div>
