<div class="page-header">

  <%= build_breadcrumb [
    { title: "Contratos", link: contratos_path },
    { title: @contrato.numero_contrato, active: true }
  ] %>
</div>

<%= build_action_header(@contrato.numero_contrato, [@contrato]) %>

<div class="panel panel-show">
  <table class="table">
    <tbody>
      <tr>
        <%= table_label "Registro" %>
        <td><%= @contrato.id %></td>
      </tr>
      <tr>
        <%= table_label "Número do contrato" %>
        <td><%= @contrato.numero_contrato %></td>
      </tr>
      <tr>
        <%= table_label "Vigência incial" %>
        <td><%= @contrato.vigencia_inicial %></td>
      </tr>
    </tbody>
  </table>
</div>