<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formulário de Coeficiente</h3>
  </div>

  <%= gsan_form_for(@coeficiente, html: { class: 'form-horizontal' }) do |f| %>
    <div class="panel-body">

      <div class="form-group">
        <label for="ligacao_agua_id" class="col-sm-2 control-label">Situação da Ligação: *</label>
        <div class="col-sm-6">
          <%= collection_select(:coeficiente, :ligacao_agua_id, @ligacoes_agua, :id, :descricao, {}, { class: "form-control" }) %>
          <div class="error-message"><%= show_errors(@coeficiente, :ligacao_agua_id) %></div>
        </div>
      </div>

      <div class="form-group">
        <label for="contrato_numero" class="col-sm-2 control-label">Coeficiente: *</label>
        <div class="col-sm-2">
          <%= f.text_field :coeficiente, class: "form-control decimal" %>
          <div class="error-message"><%= show_errors(@coeficiente, :coeficiente) %></div>
        </div>
      </div>
    </div>

     <div class="panel-footer">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
