<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Contrato</th>
      <th>Empresa</th>
      <th>Ligação Água</th>
      <th>Coeficiente</th>
    </tr>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |coeficiente| %>
      <tr class="item-list" data-item-id="<%= coeficiente.id %>" data-show-item="contrato_medicoes/<%= @contrato.id %>/coeficientes">
        <td><%= @contrato.numero %></td>
        <td><%= @contrato.empresa.nome %></td>
        <td><%= coeficiente.ligacao_agua_situacao.descricao %></td>
        <td><%= coeficiente.coeficiente %></td>
      </tr>
    <% end %>
    <% if smart_listing.empty? %>
      <tr><th><center>Nenhum registro encontrado</center></th></tr>
    <% end %>
  </tbody>
</table>
<%= smart_listing.paginate %>