<div class="page-header">
  <%= build_breadcrumb [
    { title: "Contratos", link: contrato_medicoes_path },
    { title: "#{@contrato_medicao.numero} - #{@contrato_medicao.empresa.nome}", link: contrato_medicao_path(@contrato_medicao.id) },
    { title: "Coeficiente: #{@coeficiente.ligacao_agua_situacao.descricao}", active: true }
  ] %>
</div>

<%= render 'action_header', edit_path: edit_contrato_medicao_coeficientes_path(@contrato_medicao.id), title: @contrato_medicao.empresa.nome %>

<div class="panel panel-show">
  <table class="table">
    <tbody>
      <tr>
        <%= table_label "Situação" %>
        <td><%= @coeficiente.ligacao_agua_situacao.descricao %></td>
      </tr>
      <tr>
        <%= table_label "Coeficiente" %>
        <td><%= number_with_precision(@coeficiente.coeficiente, :precision => 1, separator: ',') %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="page-header">
  <h1>Histórico</h1>
  <div class="panel panel-show">
    <%= render 'historico_coeficientes' %>
  </div>
</div>